* {
    box-sizing: border-box;
    outline: 0;
}

input {
    border: none;
}

.select-box--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    border: 1px solid #aaa;
    width: 100%;
    margin: 0;
    padding: 0;
}

.select-box--box {
    width: 100%;
}

.select-box--selected-item {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px 12px;
    vertical-align: middle;
}

.select-box--items div {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px;
    padding-right: 20px;
}

.select-box--arrow {
    width: 39px;
    height: 39px;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.select-box--arrow-down {
    /*margin-top: 10px;*/
    /*margin-left: 6px;*/
    width: 30px;
    height: 30px;
    background-image: url('/img/arrow-up.png') no-repeat;
}

.select-box--arrow-up {
    margin-top: 8px;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}
