html {
  text-align: center;
  background-color: whitesmoke;
}

.request-container {
  text-align: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #00b4e3;
  border-radius: 5px;
}

.button {
  background-color: #00b4e3;
  color: #fff;
  box-shadow: 0 3px 30px 2px #ccc;
  border-radius: 20px;
  height: 40px;
  width: 260px;
  margin-top: 10px;
  font-size: medium;
}

button:focus {
  outline: 0;
}

.button:hover, .button:active {
  border: 1px solid #fff;
  cursor: pointer;
}

/*for selection menu*/

.custom-select {
  position: relative;
  height: 40px;
  width: 100%;
  outline:0;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 0;
}
